<table class="centered" class="border">
  <thead>
    <tr>
      <th>Date</th>
      <th>Location</th>
      <th>Time IN</th>
      <th>Time OUT</th>
    </tr>
  </thead>
<% @history.each do |history| %>
  <tbody>
  <% if history.timeOut == nil %>
      <tr style="background-color: #CCCCCC">
  <% else %>
      <tr>
  <% end %>
      <td><%= history.created_at.strftime("%B %d, %Y %I:%M %p") %></td>
      <td><%= history.location %></td>
      <% if history.timeIn == nil %>
          <td><%= history.timeIn %></td>
      <% else %>
          <td><%= history.timeIn.strftime("%B %d, %Y %I:%M %p") %></td>
      <% end %>

      <% if history.timeOut == nil %>
          <td><%= history.timeOut %></td>
      <% else %>
          <td><%= history.timeOut.strftime("%B %d, %Y %I:%M %p") %></td>
      <% end %>
    </tr>
  </tbody>
<%end%>
</table>

<style type="text/css">

  tr{
  border: 1px solid black;
  margin: 20px;
  }

  th ,td{
  font-size: 20px;
  border: 1px solid black;
    padding: 12px;
  }

  table{
    margin-top: 100px;
    margin-left: 200px;
    width: 70%;
  }
</style>
